.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-sidebar {
  width: 260px;
  flex-shrink: 0;
  height: 100%;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto; /* Apenas o conteúdo principal rola se for longo */
  padding: 2rem;
  background-color: #f8fafc;
}