<div class="min-h-screen p-2 md:p-8 text-slate-100">
    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-4 gap-8 min-w-0">

        <div class="lg:col-span-4 flex flex-col space-y-6">
            <div class="flex justify-between">

                <div>
                    <h1 class="text-3xl font-bold text-slate-100">Bem-vindo, {{ name }}! </h1>
                    <p class="text-slate-400 text-sm mt-1">Acompanhe o status dos seus equipamentos e orçamentos.</p>
                </div>


                <div class="flex flex-col gap-2 items-center">
                    <div class="grid grid-cols-2 gap-4 mt-2 lg:mt-0">
                        <div class="bg-slate-900 border border-slate-800 rounded-xl p-2 flex flex-col items-center justify-center text-center">
                            <span class="text-xs font-semibold uppercase tracking-wider text-slate-500 mb-1">Em andamento</span>
                            <span class="text-xl font-bold text-blue-500">1</span>
                        </div>
                        <div class="bg-slate-900 border border-slate-800 rounded-xl p-2 flex flex-col items-center justify-center text-center">
                            <span class="text-xs font-semibold uppercase tracking-wider text-slate-500 mb-1">Pendentes de Orçamento</span>
                            <span class="text-xl font-bold text-amber-500">1</span>
                        </div>
                    </div>
                    <button
                        (click)="openCreateModal()"
                        class="w-sm bg-blue-600 hover:bg-blue-500 text-white rounded-xl p-2 flex items-center justify-center gap-3 font-semibold transition-all shadow-lg shadow-blue-900/20 active:scale-[0.98] hover:cursor-pointer"
                    >
                        <i class="fa-solid fa-plus text-md"></i>
                        Criar Nova Solicitação
                    </button>

                </div>
            </div>

            <div class="pt-4">
                <div class="flex items-center justify-between mb-4">
                    <h2 class="text-lg font-semibold text-slate-200">Reparos:</h2>
                    <button routerLink="/maintenances" class="text-sm font-medium text-blue-400 hover:text-blue-300 transition-colors hover:cursor-pointer">Ver todos</button>
                </div>

                <div class="overflow-x-auto rounded-xl border border-slate-800 bg-slate-900 shadow-xl">
                    <table class="w-full text-left border-collapse">
                        <thead class="bg-slate-800/50 text-xs uppercase tracking-wider text-slate-400 font-semibold">
                            <tr>
                                <th class="px-6 py-4">Item</th>
                                <th class="px-6 py-4">Descrição</th>
                                <th class="px-6 py-4">Status</th>
                                <th class="px-6 py-4">Criado em</th>
                                <th class="px-6 py-4 text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-slate-800/60 text-sm">
                            @for (maintenance of maintenanceRequests(); track maintenance.id) {
                                <tr class="hover:bg-slate-800/30 transition-colors">

                                    <td class="px-6 py-4 font-medium text-white">{{ maintenance.item }}</td>
                                    <td class="px-6 py-4 text-slate-400 max-w-xs truncate">{{ maintenance.itemDescription }}</td>

                                    <td class="px-6 py-4">
                                        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-500/10 border"
                                            [style.color]="maintenance.statusColor"
                                            [style.border-color]="maintenance.statusColor"
                                            [style.background-color]="maintenance.statusColor + '15'"
                                        >
                                            {{ maintenance.statusName ? maintenance.statusName : maintenance.statusCode }}
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 text-slate-400 whitespace-nowrap">
                                        {{ maintenance.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
                                    </td>

                                    <td class="px-6 py-4 text-right whitespace-nowrap flex gap-2 items-center">
                                        <a [routerLink]="['/maintenances', maintenance.id]"
                                        class="inline-flex items-center justify-center text-xs font-semibold text-slate-300 bg-slate-800 hover:bg-slate-700 hover:text-white px-3 py-1.5 rounded-lg border border-slate-700/60 transition-colors">
                                            Ver Detalhes
                                        </a>
                                        @if (maintenance.statusCode == "WAITING_APPROVAL") {
                                            <a class="inline-flex items-center justify-center text-xs font-semibold text-slate-300 bg-slate-800 hover:bg-slate-700 hover:text-blue-400 hover:cursor-pointer px-3 py-1.5 rounded-lg border border-blue-400 hover:border-blue-500 transition-colors">
                                                Aprovar/Rejeitar Serviço
                                            </a>
                                        } @else if (maintenance.statusCode == "REJECTED") {
                                            <a class="inline-flex items-center justify-center text-xs font-semibold text-slate-300 bg-slate-800 hover:bg-slate-700 hover:text-blue-400 hover:cursor-pointer px-3 py-1.5 rounded-lg border border-blue-400 hover:border-blue-500 transition-colors">
                                                Resgatar Serviço
                                            </a>
                                        } @else if(maintenance.statusCode == "FINISHED") {
                                            <a class="inline-flex items-center justify-center text-xs font-semibold text-slate-300 bg-slate-800 hover:bg-slate-700 hover:text-blue-400 hover:cursor-pointer px-3 py-1.5 rounded-lg border border-blue-400 hover:border-blue-500 transition-colors">
                                                Pagar Serviço
                                            </a>
                                        }
                                    </td>
                                </tr>
                            } @empty {
                                <tr>
                                    <td colspan="5" class="px-6 py-12 text-center text-slate-500">
                                        Nenhuma manutenção encontrada.
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="lg:col-span-1 flex flex-col space-y-6 min-w-0">

            

        </div>
    </div>
</div>

<!-- Modais -->
@if (isCreateModalOpen) {
    <app-service-request-modal
        (closeModal)="isCreateModalOpen = false">
    </app-service-request-modal>
}

@if (isDetailModalOpen && selectedRequestDetails()) {
  <app-maintenance-request-modal
        [request]="selectedRequestDetails()"
        (closeModal)="closeDetailModal()">
  </app-maintenance-request-modal>
}